body {
    margin: 0;
    padding-top: 35px;
    transition: background-color 0.3s, color 0.3s;
    bottom: 0;
}

body.dark-theme {
    background-color: #121212;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: background-color 0.3s;
}

body.dark-theme .navbar {
    background-color: #292929;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1300px;
    list-style: none;
    padding: 0px;
}

.navbar-item {
    margin: 0 20px;
    text-decoration: none;
    text-align: center;
}

.navbar-item:last-child {
    margin-right: auto;
}

.navbar-item a {
    text-decoration: none;
    color: black;
}

body.dark-theme .navbar-item a {
    color: rgb(201, 201, 201);
}

.navbar-item a:hover {
    transition: 0.2s;
    color: #1771e7 !important;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    bottom: 0;
}

body.dark-theme .navbar-right {
    color: rgb(201, 201, 201);
}

.navbar-item-vladislav {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: 700;
    font-size: 24px;
    margin-left: 0;
    color: black;
}

body.dark-theme .navbar-item-vladislav {
    color: rgb(201, 201, 201);
}

.navbar-strip {
    position: relative;
    height: 5px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

.checkbox-wrapper-41 {
    --size: 50px; 
}

.checkbox-wrapper-41 input[type="checkbox"] {
    -webkit-appearance: none;
    width: var(--size);
    height: calc(var(--size) / 2);
    background-color: #fff;
    border: 3px solid #222;
    border-radius: 30px 100px 100px 100px;
    outline: none;  
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

.checkbox-wrapper-41 input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: calc(var(--size) / 3);
    height: calc(var(--size) / 3);
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.7);
    border: 3px solid #222;
    border-radius: 30px 100px 100px 100px;
    background-color: #070707;
    box-sizing: border-box;
    transition: all 0.5s;
}

.checkbox-wrapper-41 input[type="checkbox"]:checked {
    background-color: #ffffff;
    border-radius: 100px 100px 30px 100px;
}

.checkbox-wrapper-41 input[type="checkbox"]:checked::before {
    left: 50%;
    background-color: #fff;
    border-radius: 100px 100px 30px 100px;
}

.slider-language {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.3s ease;
    outline: black 2px solid;
}

.slider-language:last-child {
    margin-right: 0;
}

body.dark-theme .slider-language {
    outline: white 2px solid;
}

.slider-language:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        height: auto;
    }

    .navbar-list {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .navbar-item {
        margin: 10px 0;
        text-align: center;
    }

    .navbar-item a {
        font-size: 14px; 
    }

    .navbar-right {
        margin-right: 20px;
    }

    .navbar-item-vladislav {
        margin-left: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .slider-language {
        width: auto;
    }

    .checkbox-wrapper-41 {
        margin-right: 20px;
    }
    
    #navbar-text-item {
        display: none;
    }

    .navbar-item-vladislav {
        display: none;
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .burger {
        position: relative;
        z-index: 3;
        cursor: pointer;
        display: block;
        background: transparent;
        width: 40px;
        height: 26px;
        margin-left: 20px;
        transition: background-color 0.3s;
    }

    body.dark-theme .burger {
        background: transparent;
    }

    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000;
        transition: background-color 0.3s;
    }

    body.dark-theme .burger::before {
        background: rgb(201, 201, 201);
    }

    body.dark-theme .burger::after {
        background: rgb(201, 201, 201);
    }

    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #1771e7;
        transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
    }

    .burger::after {
        bottom: 0;
        transition: bottom 0.3s 0.15s, transform 0.3s;
    }

    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
    }

    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom 0.3s, transform 0.3s 0.15s;
    }

    .navbar-phone {
        display: block;
    }

    .navbar-list-phone {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 20px;
        padding-top: 50px;
        padding-bottom: 1000px;
        margin: 0;
        background: rgb(255, 255, 255);
        list-style-type: none;
        transform: translateX(-100%);
        transition: transform 0.3s, background-color 0.3s;
        width: 185px;
        z-index: 2;
    }

    body.dark-theme .navbar-list-phone {
        background: #292929;
    }

    .navbar-item-phone {
        display: block;
        padding-top: 20px;
        padding-left: 25px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        text-decoration: none;
        background-color: rgb(255, 255, 255);
        font-family: 'Noto Sans', sans-serif;
        transition: background-color 0.3s, color 0.3s;
    }

    body.dark-theme .navbar-item-phone {
        background-color: #292929;
        color: rgb(201, 201, 201);
    }

    .burger-checkbox:checked ~ .navbar-list-phone {
        transform: translateX(0);
    }
}

@media (min-width: 769px) {
    .navbar-phone {
        display: none;
    }
}